body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

.app-container {
  height: 100%;
  background-color: #0b1e51;
}
